@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: black;
  background-color: white;
}

/*-----index-----*/
/*-----navigation-----*/

.page_header {
  background-color: white;
}

.main__nav {
  display: flex;
  justify-content: space-between;
  margin: 0 72px;
}

.nav__logo-link img {
  width: 138px;
  height: 70px;
}

ul li,
ol li {
  list-style: none;
}

.nav__right-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.nav__left, .nav__right {
  text-transform: uppercase;
}

.nav__left li a {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

.navigation-link-active {
  padding-bottom: 21px;
  border-bottom: 2px solid #756257;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #756257;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/*----navigation----*/

.main-index {
  flex-grow: 1;
}

/*-----promo-----*/

.promo {
  text-align:center;
}

.promo__text {
  width: 720px;
  min-height: 282px;
  margin: 0 auto;
}

.promo-logo {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.promo__banner {
  height: 485px;
  background-color: grey;
  background:
    url("../images/promo-decor.svg") no-repeat bottom,
    url("../images/index-background.jpg") no-repeat;
  background-size: 100% auto;
}

.promo__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

/*-----promo-----*/
/*-----advantage-----*/

.blu {
  background-color: #83B3D3;
}

.light-blu {
  background-color: rgba(131, 179, 211, 0.12);
}

.blu-white {
  background-color: rgba(255, 255, 255, 1);
  ;
}

.dark-blu {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage__item-promo {
  color: white;
}

.advantage__item-promo div p {
  color: white;
}

h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.card__text {
  width: 400px;
  min-height: 384px;
  text-align: center;
}

.card__text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.card__image {
  width: 800px;
  height: 384px;
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
}

.advantage__list:last-child .advantage__item-promo {
  flex-direction: row-reverse;
}

.advantage__item-promo {
  display: flex;
  flex-wrap: wrap;
}

/*-----search__block-----*/

.search__block {
  width: 720px;
  min-height: 417px;
  margin: 0 auto;
  text-align: center;
}

.search__block p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.search__block-subtitle {
  color: #333333;
}

.search__block strong {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

/*-----search__block-----*/
/*-----subscription__form-----*/

.subscription__form-inner {
  min-height: 411px;
  text-align: center;
}

.subscription__form {
  min-height: 411px;
  background-color: grey;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  text-align: center;
}

.subscription__title {
  width: 720px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription__subtitle {
  width: 720px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.mailing__form {
  display: flex;
  width: 800px;
  margin: 0 auto;
  justify-content: center;
  }

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: #83B3D3;
}

/*-----subscription__form-----*/
/*-----footer__social-----*/

.footer__social {
  display: flex;
  justify-content: space-between;
  padding: 0 72px;

}
.footer__social-list {
  text-decoration: none;
}

.footer__tel {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: black;
}

/*-----footer__social-----*/
/*---------------index--------------------*/

/*-----catalog-----*/
.container {
  width: 1200px;
  margin: 0 auto;
}

.inner-container {
  margin: 0 72px;
}

.main__inner {
  flex-grow: 1;
}
/*-------шапка------*/
.inner__header {
  min-height: 408px;
  background-color: grey;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
}

.inner__header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-item {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

/*-------фиьтры------*/

.catalog__filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.catalog__filter-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter {
  display: flex;
}

.catalog__filter-list {
  width: 150px;
}

.infrastructure {
  margin-right: 70px;
}

.search__price {
  width: 290px;
  margin-left: auto;
  margin-right: 80px;
}

/*-------фиьтры------*/
/*-------кнопки--------*/

.catalog-filter-input {
  width: 110px;
}

.button-catalog {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: #83B3D3;
}

.catalog-button {
  display: flex;
  flex-direction:column;
}

.button-reset {
  background-color: transparent;
  border: none;
  text-transform: none;
}

.button-favorites-added {
  background-color: #7DB54F;
}

.show-more {
  text-align: center;
}
/*-------кнопки--------*/
/*-------поиск заголовок-навигация------*/

.search-header {
  display: flex;
}

.search__title {
  margin-left: auto;
  margin-right: 80px;
}

p strong {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

/*-------поиск заголовок-навигация------*/
/*-------список------*/
.product__card-link {
  text-decoration: none;
  color: inherit;
}

.product__card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.product__card-tipe,
.product__card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

/*-------список------*/

.pagination-item a {
  text-decoration: none;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  background-color: #83B3D3;
  color: white;
}

.pagination-link-active {
  background-color: #f2f2f2;
  color: black;
}

.page-quantity {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}
/*-----catalog-----*/
