@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
  
  html {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: black;
    background-color: white;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  /*-----index-----*/
  /*-----навигация-----*/
  
  .page_header {
    background-color: white;
  }
  
  .main__nav {
    display: flex;
    height: 65px;
    margin: 0 72px;
  }
  
  .nav__logo {
    display: block;
  }
  
  .nav__logo-link img {
    width: 138px;
    height: 70px;
  }
  
  ul li,
  ol li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .nav__left,
  .nav__right {
    display: flex;
    flex-wrap: wrap;
  
  }
  
  .nav__left {
    justify-content: flex-start;
  }
  
  .nav__right {
    justify-content: flex-end;
    text-transform: uppercase;
  }
  
  .nav__left-item {
    position: relative;
  }
  
  .nav__left-item:not(:first-child) {
    margin-left: 33px;
  }
  
  .nav__right-item:last-child {
    margin-left: 23px;
  }
  
  .nav__left-link {
    display: block;
    padding: 6px 12px;
    font-family: inherit;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
  }
  
  .nav__right-link {
    padding: 8px 10px 4px;
    font-family: inherit;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
  }
  
  .icon {
    display: inline-block;
    position: relative;
  }
  
  .icon::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    background-color: #7DB54F;
    border-radius: 50%;
    top: -8px;
    left: 22px;
    z-index: 1;
  }
  
  .icon::after {
    content: "12";
    position: absolute;
    width: 19px;
    height: 19px;
    color: white;
    top: -5px;
    left: 26px;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    z-index: 2;
  }
  
  .nav__left,
  .nav__right {
    width: 460px;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  .navigation-link-active::before {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: -14px;
    height: 2px;
    background-color: #756257;
  }
  
  .btn {
    width: 160px;
    padding: 10px 35px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #756257;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
  }
  /*-----навигация_кнопки-----*/
  .btn:hover {
    background-color: #615048;
  }
  
  .btn:active {
    background-color: #615048;
    color: rgba(255, 255, 255, 0.3);
  }
  
  .btn:focus {
    outline: 3px solid #83B3D3;
  }
  
  .nav__left-item:hover {
    color: #756257;
  }
  
  .nav__left-link:active {
    color: #756257;
    opacity: 0.3;
  }
  
  .nav__left-link:focus {
    color: #756257;
    outline: 3px solid #83B3D3;
    border-radius: 10px;
  }
  
  
  .nav__right-link:hover path {
    fill: #756257;
  }
  
  .nav__right-link:active path {
    fill: #756257;
    opacity: 0.3;
  }
  
  .nav__right-link:focus path {
    fill: #756257;
  }
  
  .nav__right-link:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
  }
  
  /*-----навигация_кнопки-----*/
  /*----навигация----*/
  
  .main-index {
    margin: 0;
    flex-grow: 1;
  }
  
  /*-----реклама-----*/
  
  .promo {
    text-align:center;
  }
  
  .promo__text {
    width: 720px;
    min-height: 282px;
    margin: 0 auto;
  }
  
  .promo-logo {
    display: block;
    width: 458px;
    height: 352px;
    padding-top: 51px;
    margin: 0 auto;
  }
  
  .promo__banner {
    width: 1200px;
    height: 485px;
    background-color: grey;
    background: url("../images/index-background.png") no-repeat;
    background-size: 100% auto;
  }
  
  .promo__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }
  
  .promo__subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
  }
  
  /*-----реклама-----*/

  /*-----приемущества-----*/
  
  .blu {
    background-color: #83B3D3;
  }
  
  .light-blu {
    background-color: rgba(131, 179, 211, 0.12);
  }
  
  .blu-white {
    background-color: rgba(255, 255, 255, 1);
    ;
  }
  
  .dark-blu {
    background-color: rgba(131, 179, 211, 0.2);
  }
  
  .advantage__item-promo {
    color: white;
  }
  
  .advantage__item-promo div p {
    color: white;
  }
  
  .advantage__list {
    margin: 0;
    padding: 0;
  }
  
  h3 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }
  
  .advantage__item-promo .card__text {
    width: 220px;
    padding: 98px 90px 77px;
    text-align: center;
  }
  
  .advantage__list:first-of-type .advantage__item:not(:first-child) .card__text {
    width: 250px;
    padding: 184px 75px 89px;
    text-align: center;
  }
  
  .advantage__list:first-of-type .advantage__item:not(:first-child) .card__text p {
    margin-top: 20px;
  }
  
  .advantage__list:last-of-type .advantage__item:not(:first-child) .card__text {
    width: 250px;
    padding: 98px 75px 115px;
    text-align: center;
  }

  .card__text h3 {
    position: relative;
    width: 180px;
    margin: 0 auto;
  }
  
  .house::before {
    content: "";
    display: block;
    width: 75px;
    height: 72px;
    position: absolute;
    background: url("../images/hous.svg") no-repeat;
    top: -90px;
    left: 55px;
  }
  
  .food::before {
    content: "";
    display: block;
    width: 75px;
    height: 72px;
    position: absolute;
    background: url("../images/buter.svg") no-repeat;
    top: -90px;
    left: 55px;
  }
  
  .souvenir::before {
    content: "";
    display: block;
    width: 65px;
    height: 76px;
    position: absolute;
    background: url("../images/present.svg") no-repeat;
    top: -90px;
    left: 55px;
  }
  
  .lodging {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .card__text p {
    margin: 0;
    margin-top: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
  }
  .card__image {
    display: block;
    width: 800px;
    height: 384px;
  }
  
  .advantage__list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .advantage__list:last-child .advantage__item-promo {
    flex-direction: row-reverse;
  }
  
  .advantage__item-promo {
    display: flex;
    flex-wrap: wrap;
  }

  /*-----приемущества-----*/

  /*-----поиск-----*/
  
  .search__block {
    width: 720px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 110px;
    text-align: center;
  }
  
  .search__block p {
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
  }
  
  .search__block-subtitle {
    padding-top: 30px;
    padding-bottom: 63px;
    color: #333333;
  }
  
  .search__block strong {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }
  
  .search__block .btn {
    padding: 15px 150px 19px 150px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
  }
  
  /*-----поиск-----*/

  /*-----подписки-----*/
  
  .subscription__form-inner {
    min-height: 411px;
    text-align: center;
  }
  
  .subscription__form {
    background-color: grey;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
    text-align: center;
  }
  
  .subscription__title {
    width: 720px;
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 29px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }
  
  .subscription__subtitle {
    width: 540px;
    margin: 0 auto;
    padding-bottom: 46px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
  }
  
  .mailing__form {
    display: flex;
    width: 800px;
    height: 60px;
    margin: 0 auto;
    padding-bottom: 94px;
    justify-content: center;
  }
  
  .mailing__form p {
    margin: 0;
    padding: 0;
  }
  
  .mailing__form input {
    width: 600px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 10px 0 0 10px;
    border: none;
    margin: 0;
    padding-left: 22px;
    padding-right: 19px;
    background-color: #f2f2f2;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    opacity: 0.6;
  }
  
  .mailing__form button {
    max-width: 200px;
    height: 60px;
    padding: 0;
    border-radius: 0 10px 10px 0;
  }
  
  .button {
    width: 160px;
    padding-top: 9px;
    padding-bottom: 10px;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: #83B3D3;
    cursor: pointer;
  }

  /*-----подписки_состояния-----*/
  
  .mailing__form input:hover {
    background-color: #e5e5e5;
  }
  
  .mailing__form input:active {
    outline: 2px solid black;
    opacity: 1;
  }
  
  .mailing__form input:focus {
    background-color: #e5e5e5;
    outline: 3px solid #83B3D3;
  }
  
  .mailing__form input:invalid {
    outline: 2px solid #FF5757;
  }
  
  .mailing__form button:hover {
    background-color: #68A2CA;
  }
  
  .mailing__form button:active {
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
  }
  
  .mailing__form button:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
  }
  
  /*-----подписки_состояния-----*/

 /*-----подписки-----*/

  /*-----подвал_соц-сети-----*/
  
  .footer__social {
    display: flex;
    justify-content: space-between;
    margin: 40px 72px 40px;
  }
  .footer__social-list {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    text-decoration: none;
  }
  
  .footer__social-item {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
  }
  
  .footer__social-item:last-child {
    margin-right: 0;
  }
  
  .footer__social-link {
    display: block;
    height: 20px;
    padding: 10px;
  }
  /*-----подвал_состояние-кнопок-----*/
  .footer__social-link:hover path {
    fill: #68A2CA;
  }
  
  .footer__social-link:focus path {
    fill: #68A2CA;
  }
  
  .footer__social-link:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
  }
  
  .footer__tel {
    padding: 15px;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: black;
  }
  
  .footer__tel:hover {
    color: #756257;
  }
  
  .footer__tel:active {
    color: #756257;
    opacity: 0.3;
  }
  
  .footer__tel:focus {
    color: #756257;
    outline: 3px solid #83B3D3;
    border-radius: 10px;
  }
  
  .footer__logo {
    padding: 19px 23px;
  }
  
  .footer__logo:hover path {
    fill: #756257;
  }
  
  .footer__logo:active path {
    fill: #756257;
    opacity: 0.3;
  }
  
  .footer__logo:focus path {
    fill: #756257;
  }
  
  .footer__logo:focus {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
  }
  /*-----подвал_состояние-кнопок-----*/

  /*-----подвал_соц-сети-----*/
  


  /*---------------index--------------------*/
  
  /*-----catalog-----*/
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  
  .inner-container {
    margin: 0 72px;
  }
  
  .main__inner {
    margin: 0;
    flex-grow: 1;
  }
  /*-------шапка------*/
  .inner__header {
    min-height: 408px;
    background-color: grey;
    background-image: url("../images/catalog-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
  }
  
  .inner__header-title {
    margin: 0;
    padding-top: 35px;
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
  }
  
  .breadcrumbs {
    display: flex;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
  }
  .breadcrumbs-item:not(:last-child) {
    margin-right: 26px;
  }
  
  .breadcrumbs-item {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }
  
  .breadcrumbs-item:first-child {
    padding-top: 3px;
  }
  
  .home {
    display: block;
    width: 12px;
    height: 12px;
    padding: 6px 8px 9px;
    background: url("../images/klein-house.svg") no-repeat center;
  }
  
  .hotels::before {
    content: "";
    position: relative;
    width: 6px;
    height: 8px;
    padding: 8px;
    background: url("../images/arrow.svg") no-repeat center;
    left: -11px;
  }
  
  /*-----состояния-крошек-----*/
  .breadcrumbs-item:hover {
    opacity: 0.6;
  }
  /*-----состояния-крошек-----*/
  /*-------фиьтры------*/
  
  .catalog__filter-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }
  
  .catalog__filter-item {
    margin: 0;
  }
  
  .catalog__filter-item li:not(:last-child) {
    margin-bottom: 13px;
  }
  
  .control-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  
  .catalog__filter-price {
    margin-bottom: 34px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }
  
  .catalog-filter {
    display: flex;
  }
  
  .catalog__filter-list {
    width: 150px;
    padding: 0;
    border: none;
  }
  
  .catalog-filter-wrapper {
    display: table;
    border-collapse: collapse;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 32px;
  }
  
  .catalog-filter-label {
    display: table-cell;
    width: 140px;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-right: 14px;
    border: 2px solid white;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.3);
  }
  
  .infrastructure {
    margin-right: 70px;
  }
  
  .search__price {
    width: 290px;
    margin-left: auto;
    margin-right: 80px;
  }
  
  .catalog-filter-input {
    width: 76px;
    height: 23px;
    padding: 0;
    padding-left: 19px;
    background-color: transparent;
    border: none;
  
  }
  
  .catalog-filter-input::placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: white
  }
  
  /*-------фиьтры------*/
  /*-------кнопки--------*/
  .range-controls {
    position: relative;
  }
  
  .range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    top: -8px;
    border: none;
  }
  
  .range-controls .scale {
    height: 4px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .range-controls .bar {
    width: 75%;
    height: 4px;
    background: #ffffff;
  }
  
  .toggle-min {
    left: 0;
  }
  
  .toggle-max {
    left: 75%;
  }
  
  .catalog-button .button-catalog {
    margin-bottom: 20px;
    height: 48px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: #83B3D3;
  }
  
  .catalog-button {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }
  
  .catalog-button .button-reset {
    height: 23px;
    margin: 0;
    background-color: transparent;
    border: none;
    text-transform: none;
  }
  
  .button-favorites{
    margin: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
  }
  
  .button-favorites-added {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    background-color: #7DB54F;
  }
  
  .btn-details {
    grid-column: 1;
    grid-row: 4;
    justify-self: start;
    width: 151px;
    padding: 0;
    padding-top: 9px;
    padding-bottom: 10px;
  }
  
  .show-more {
    text-align: center;
  }
  /*-------кнопки--------*/
  /*-------поиск заголовок-навигация------*/
  
  .search-header {
    display: flex;
    margin-top: 44px;
    margin-bottom: 42px;
  }
  
  .search__title-header {
  
    margin-left: auto;
    margin-right: 80px;
  
  
    box-sizing: border-box;
  }
  
  .search-header p {
    margin: 0;
    margin-top: 6px;
  }
  
  p strong {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
  }
  
  .select-control {
    width: 287px;
    height: 48px;
    padding: 13px 20px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    background-color: white;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    box-sizing: border-box;
  }
  
  .button-light {
    width: 17px;
    height: 15px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 17px 16px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    background-color: white;
    color: black;
    background: url("../images/mode-full.svg") no-repeat;
    background-clip: content-box;
  }
  
  .mode-tile {
    background-position: -58px -6px;
  }
  
  .mode-slideshow {
    background-position: -31px -6px;
  }
  
  .mode-list {
    background-position: -6px -6px;
  }
  
  .button-light:nth-child(3n) {
    margin-right: 0;
  }
  
  /*-------поиск-заголовок-навигация------*/
  /*-------список------*/
  /*-----список-грид------*/
  .product__card {
    display: grid;
    grid-template-columns: 180px 635px 160px;
    gap: 37px;
    padding: 30px 0;
    border-top: 1px solid #E6E6E6;
  }
  
  .product__card:last-child {
    border-bottom: 1px solid #E6E6E6;
  }
  
  .product__card-link--img {
    grid-column: 1;
    width: 180px;
    height: 120px;
    object-fit: contain;
  }
  
  .product__card-description {
    display: grid;
    grid-template-columns: 160px 160px auto;
    grid-template-rows: min-content min-content auto 37px;
    grid-column: 2/3;
  }
  
  .product__card-link {
    grid-column: 1/3;
    grid-row: 1;
  }
  
  .product__card-tipe {
    grid-column: 1;
    grid-row: 2;
  }
  
  .product__card-price {
    grid-column: 2;
    grid-row: 2;
  }
  
  .button-catalog {
    grid-column: 2;
    grid-row: 4;
    justify-self: start;
  }
  
  .rating-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 3/4;
  }
  /*-----список-грид------*/
  
  .product__card-wrapper {
    display: flex;
    width: 260px;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .product__list {
    margin: 0;
    padding: 0;
  }
  
  .product__card-link {
    text-decoration: none;
    color: inherit;
  }
  
  .product__card-title{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
  }
  
  .product__card-tipe,
  .product__card-price {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
  }
  
  .stars {
    margin: 0 auto;
    padding: 0;
  }
  
  .stars p {
    margin: 0;
  }
  
  .rating {
    width: 160px;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 10px;
    background-color: #f2f2f2;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
  }
  
  .disable {
    display: none;
  }
  
  /*-------список------*/
  
  .show-more {
    padding: 30px 0;
  }
  
  .pagination-show-more {
    width: 625px;
    height: 55px;
  }
  
  .pagination {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .pagination-item:not(:last-child) {
    margin-right: 8px;
  }
  
  .pagination-item a {
    text-decoration: none;
  }
  
  .pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding: 15px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    background-color: #83B3D3;
    color: white;
  }
  
  .pagination-link-active {
    background-color: #f2f2f2;
    color: black;
  }
  
  .pagination-wrapper {
    display: flex;
    margin-top: 30px;
  }
  
  .search__title-footer {
    display: flex;
    margin-left: auto;
    padding-top: 5px;
  }
  
  .search__title-footer .select-control {
    width: 160px;
    height: 48px;
  }
  
  .page-quantity {
    margin-right: 50px;
    padding-top: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
  }
  
  .select-control {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
  }
  
  /*-----catalog-----*/
  .stars-1 {
    width: 18px;
    height: 17px;
    background: url("../images/stars-1.svg") no-repeat;
  }
  
  .stars-2 {
    width: 43px;
    height: 17px;
    background: url("../images/stars-2.svg") no-repeat;
  }
  
  .stars-3 {
    width: 68px;
    height: 17px;
    background: url("../images/stars-3.svg") no-repeat;
  }
  
  .stars-4 {
    width: 93px;
    height: 17px;
    background: url("../images/stars-4.svg") no-repeat;
  }
  
  .stars-5 {
    width: 118px;
    height: 17px;
    background: url("../images/stars-5.svg") no-repeat;
  }
  